.headline {
    text-align: center;
    color: brown;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 3px 3px 3px gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraph {
    text-align: center;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}